.drone {
    margin: 30px;
    height: 100px;
    width: 100px;
    /* background-image: "/drone.png"; */
    background-color: blue
  }
.horizTranslate {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    margin-left: 50% !important;
}