/* styles go here */
button {
  padding: 8px;
  margin: 2px;
  border-radius: 5px;
  background-color: lightblue;
  color: mediumblue;
  border-color: darkblue;
  font-size: 20px;
}

#stop {
  background-color: red;
  color: white;
  border-color: darkred;
}

.directionControls {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px 0
}

.controlGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topButtons {
  display: flex;
  justify-content: space-between;
}
